VITE_I18N_LANGUAGE_STORAGE_KEY=i18nextLng
VITE_I18N_BACKEND_LOAD_PATH=/locales/{{lng}}/{{ns}}.json
VITE_DEFAULT_LANG=ar

VITE_AUTH_STORAGE_KEY=auth-storage

VITE_API_BASE_URL=
VITE_API_TIMEOUT=0

VITE_WS_ATTENDANCE_URL=
VITE_API_ATTENDANCE_URL=

VITE_WS_AI_TASKS_URL=
VITE_API_AI_TASKS_URL=

VITE_PORT=3030
VITE_HOST=0.0.0.0
VITE_OPEN=false
VITE_STRICT_PORT=true